Module 4
Irvin Gómez Esquivel - A00361034

In [1]:
#open function

File1 = open("Ejemplo_Irvin.txt", "w")
print (File1.name)
File1.close()

Ejemplo_Irvin.txt

In [3]:
#vamos a usar with para cerrar el archivo automáticamente

with open("Ejemplo_Irvin.txt", "r") as File1:
    file_stuff=File1.read()
    print (file_stuff)
print (File1.closed)
print(file_stuff)

linea 1
linea 2
linea 3
True
linea 1
linea 2
linea 3

In [4]:
#vamos a leer cada linea como un elemento de un arreglo
with open("Ejemplo_Irvin.txt", "r") as File1:
    file_stuff=File1.readlines()
    print (file_stuff)

['linea 1\n', 'linea 2\n', 'linea 3']

In [6]:
#vamos a leer la primer línea
with open("Ejemplo_Irvin.txt", "r") as File1:
    file_stuff=File1.readline()
    print (file_stuff)
    #vamos a leer la segunda
    file_stuff=File1.readline()
    print (file_stuff)

linea 1

linea 2

In [7]:
#vamos imprimir cada línea con un ciclo
with open("Ejemplo_Irvin.txt", "r") as File1:
    for line in File1:
        print (line)

linea 1

linea 2

linea 3

In [13]:
#leemos solo unos caracteres del archivo
with open("Ejemplo_Irvin.txt", "r") as File1:
    file_stuff=File1.readlines(4)
    print (file_stuff)

['linea 1\n', 'linea 2\n']

In [14]:
#cada vez que llamamos readlines otra vez, progresamos por el texto
with open("Ejemplo_Irvin.txt", "r") as File1:
    file_stuff=File1.readlines(4)
    print (file_stuff)
    file_stuff=File1.readlines(4)
    print (file_stuff)
    file_stuff=File1.readlines(8)
    print (file_stuff)

['linea 1\n']
['linea 2\n']
['linea 3']

Aquí empieza el video Writting Files with Open

In [15]:
#abrimos el archivo como escritura, usamos with
with open("Ejemplo2_Irvin.txt", "w") as File1:
    File1.write("Ayrton Senna was the best")

In [ ]:
#abrimos el archivo como escritura, usamos with, escribimos varias líneas
with open("Ejemplo2_Irvin.txt", "w") as File1:
    File1.write("Ayrton Senna was the best \n")
    File1.write("Fangio was not bad either \n")

In [16]:
#escribimos las líneas que vienen de un arreglo
Lines=["Ayrton Senna was the best \n","Fangio was not bad either \n","Schumacher was on the same league."]
with open("Ejemplo2_Irvin.txt", "w") as File1:
    for line in Lines:
        File1.write(line)

In [17]:
#ahora intentamos con append, no creará un archivo nuevo
with open("Ejemplo2_Irvin.txt", "a") as File1:
    File1.write("Jim Clark was a legend \n")

In [19]:
#copiamos un archivo a otro
with open("Ejemplo2_Irvin.txt", "r") as source:
    with open("Ejemplo3_Irvin.txt", "w") as destination:
        for line in source:
            destination.write(line)

Aquí sigue el video Loading Data with Pandas

In [20]:
#vamos a usar pandas
import pandas

csv_path="file1.csv"
df=pandas.read_csv(csv_path)

In [21]:
#vamos a usar pandas con alias pd
import pandas as pd

csv_path="file1.csv"
df=pd.read_csv(csv_path)

In [22]:
#vamos a usar un data frame
import pandas as pd

csv_path="file1.csv"
df=pd.read_csv(csv_path)
df.head()

       Make     Model   Year   Milage
0     Mazda    Mazda6   2014   150000
1     Mazda    Mazda3   2022     9000
2    Suzuki     Swift   2008   120000
3      Ford    Escort   1999   150000
4  Chrysler   Phantom   1990   120000

In [24]:
#trabajando con dataframes
import pandas as pd
songs = {"Album":["A night at the Opera", "Led Zeppelin IV", "Images and Words", "All that you can't leve behind"], "Released": [1975,1971,1992,2001], "Length":["00:59:12","00:42:35","00:48:23","00:55:06"]}
songs_frame = pd.DataFrame(songs)
songs_frame.head()

                            Album  Released    Length
0            A night at the Opera      1975  00:59:12
1                 Led Zeppelin IV      1971  00:42:35
2                Images and Words      1992  00:48:23
3  All that you can't leve behind      2001  00:55:06

In [26]:
#trabajando con dataframes obteniendo un frame de una columna
import pandas as pd
songs = {"Album":["A night at the Opera", "Led Zeppelin IV", "Images and Words", "All that you can't leve behind"], "Released": [1975,1971,1992,2001], "Length":["00:59:12","00:42:35","00:48:23","00:55:06"]}
songs_frame = pd.DataFrame(songs)
x = songs_frame[["Length"]]
x.head()

     Length
0  00:59:12
1  00:42:35
2  00:48:23
3  00:55:06

In [40]:
#question 2


import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

Aquí inicia el vide Working with and Saving Data with Pandas